[submodule "assimp"]
	path = assimp
	url = github:godesteem/assimp
[submodule "imgui"]
	path = imgui
	url = github:/godesteem/imgui
[submodule "ECS"]
	path = ECS
	url = github:/philsupertramp/ECS
[submodule "math"]
	path = math
	url = github:philsupertramp/game-math
